@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/CharacterSheets/characterSheetBase.css");

:root{
  --image-size: 0px;
  --display-image: none;
  --top-margin: 50px;
  --under-image-margin-bottom: -5rem;
  --window-padding-left: 0px;/*max 600px*/
  --window-padding-right: 0px;/*max 600px*/
}

/*Align Window*/
.Container_desktop__v8oRx{
  width: 1344px !important;
  margin: 0px !important;
  padding-right: var(--centering-window) !important;
}

/*Image Size*/
.Container_desktop__v8oRx>div:nth-child(1)>div:nth-child(1){
  width: var(--image-size) !important;
}
