@import url("https://mayayaya27.github.io/CcofoliaCostumCSSforOBS/CharacterSheets/characterSheetBase.css");

:root{
  --image-size: 0px;
  --display-image: none;
  --centering-window-right: 150px;
}

/*Align Window*/
.Container_desktop__v8oRx{
  width: 1344px !important;
  margin: 0px !important;
  padding-right: var(--centering-window) !important;
}

/*Image Size*/
.Container_desktop__v8oRx>div:nth-child(1)>div:nth-child(1){
  width: var(--image-size) !important;
}
