:root{
  --font-color: black;
  --image-size: 0px;
  --display-image: none;
  --window-padding-left: 250px;
}

/*Align Window*/
.Container_desktop__v8oRx{
  width: 1344px !important;
  margin: 0px !important;
  padding-right: var(--window-padding-left) !important;
}

/*Image Size*/
.Container_desktop__v8oRx>div:nth-child(1)>div:nth-child(1){
  width: var(--image-size) !important;
}
