/*ここからカスタムCSS*/

.MuiList-root > div:nth-child(1) > div {
  display: flex;
  flex-direction: column-reverse;
}

/* marginの調整を行わないと反転前と反転後でmarginが変わってしまう */
.MuiList-root > div:nth-child(1) > div > div > div {
  margin-top: 10px;
  margin-bottom: 0px;
}

.MuiDrawer-paperAnchorDockedRight{
    background: black;
}

.MuiPaper-elevation6{
    background: rgba(80, 80, 80) !important;
}

.MuiListItemText-secondary{
    font-size: 1.2rem !important;
    font-family: 游明朝 !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.MuiListItemText-primary{
    font-size: 0.85rem;
}

.MuiListItemButton-gutters{
    border: 1px solid;
    border-color: transparent transparent rgba(255,255,255,0.5) transparent !important;
}
