@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/Base/base.css");

:root{
  --chatWindow-display: none;
  --statusWindow-display: none;
  --messageWindow-display: block;
  --messageWindowImage-display: none;
  --cutIn-display: none;

  --f-s-m-c-display: none;
  --foreground-display: none;
  --screenPanel-display: none;
  --markerPanel-display: none;
  --charaIcon-display: none;
  --background-display: none;

  --displayAll-height: 100%;
  --displayAll-width: 100%;
  --displayAll-top: 0px;
  --displayAll-left: 0px;
  --displayAll-scale: scale(1, 1);

  
  /**************************
   ダイスウィンドウの設定
  **************************/
  /** ◆◆◆ウィンドウ◆◆◆ */
  /** width */
  --dice-win-width: 900px;
  /** 背景色 */
  --dice-win-background: rgba(22, 22, 22, 1);
  /** 枠線 */
  --dice-win-border: solid 0px white;
  /** 角の丸み */
  --dice-win-radius: 20px;

  /*◆◆◆MessageWindowImage◆◆◆*/
  /*MessageWindowImage*/
  --icon-width: 200px;
  --icon-height: 193px;
  --icon-object-position: 50% 2%;
  --icon-object-fit: cover;
  --icon-bottom: 0px;
  --icon-left: 700px;
  --icon-transform-origin: center left;
  --icon-z-index: 2;
  --icon-opacity: 0.5;
  --icon-border-top-right-radius: 20px;
  --icon-border-bottom-right-radius: 20px;

  /** ◆◆◆ダイス画像◆◆◆ */
  /** display dice*/
  --disp-dice-picture: block;
  /** サイズ設定 */
  --dice-pic-size: 85px;
  /** 上下位置の調整 */
  --dice-pic-y: 100%;
  /** 左側のスペースの幅 */
  --dice-pic-left-space: 200px;
  /** 右側のスペースの幅 */
  --dice-pic-right-space: 0px;
  /** 画像が表示される範囲 */
  --dice-pic-disp-range: 600px;

  --window-position: static;
  --font-position: relative;
  --font-z-index: 3;
  
  /** ◆◆◆見出し、キャラ名◆◆◆ */
  --midashi-display: block;
  /** フォント */
  --midashi-font: inherit;
  /** フォント色 */
  --midashi-color: inherit;
  /** フォントの太さ(normal or bold) */
  --midashi-font-weight: bold;
  /** 文字サイズ */
  --midashi-size: 20px;
  /** 上の余白 */
  --midashi-top-space: 30px;
  /** 下の余白 */
  --midashi-bottom-space: 5px;
  /** 左の余白 */
  --midashi-left-space: 45px;
  /** テキスト影 */
  --text-shadow: 0px;

  /** ◆◆◆ダイス結果(□＞58)◆◆◆ */
  /** Display */
  --dice-result-display: block;
  /** フォント */
  --dice-result-font: inherit;
  /** フォント色 */
  --dice-result-color: inherit;
  /** フォントの太さ(normal or bold) */
  --dice-result-font-weight: bold;
  /** 文字サイズ */
  --dice-result-size: 20px;
  /** 上の余白 */
  --dice-result-top-space:30px;
  /** 下の余白 */
  --dice-result-bottom-space: 5px;
  /** 左の余白 */
  --dice-result-left-space: 15px;

  /** ◆◆◆内容◆◆◆ */
  /** フォント */
  --content-font: inherit;
  /** フォント色 */
  --content-color: inherit;
  /** フォントの太さ(normal or bold) */
  --content-font-weight: normal;
  /** Font size */
  --content-size: 22px;
  /** Top Padding */
  --content-top-space: 0px;
  /** Bottom Padding */
  --content-bottom-space: 27px;
  /** Left Padding */
  --content-left-space: 45px;
  /** Right Padding */
  --content-right-space: 45px;
  /** テキストボックスの縦幅 */
  --content-height: 100px;

  /** Top */
  --window-top: auto;
  /** Bottom */
  --window-bottom: 21px;
}

.MuiPaper-rounded .MuiPaper-elevation6 {
  position: var(--window-position) !important;
}

/** ウィンドウ */
.MuiPaper-elevation6/*,.MuiPaper-rounded:nth-child(2)*/ {
  /** 横幅 */
  width: var(--dice-win-width) !important;
  max-width: none;
  /** 背景色 */
  background: var(--dice-win-background) !important;
  /** 角の丸み */
  border-radius: var(--dice-win-radius) !important;
  /** 背景色の見切れ解消 */
  position: absolute !important;
  top: var(--window-top) !important;
  bottom: var(--window-bottom) !important;
  left: 0px;
  right: 0px;
}

/* 枠線 */
.gGhEJz{
  border: var(--dice-win-border) !important;
}


/* ダイスウィンドウ裏の背景色非表示 */
/*
.MuiPaper-elevation1,
.MuiPaper-rounded:first-child {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 0px !important;
  border: none !important;
}*/

/* ダイスウィンドウ周りのドロップシャドウ非表示 */
/*
.MuiPaper-elevation1 {
  box-shadow: block !important;
}*/

/** ダイス画像 */
img[src*="dice"] {
  /** サイズ設定 */
  width: var(--dice-pic-size) !important;
  height: var(--dice-pic-size) !important;
}

.hSjflw {
  /** 表示、非表示 */
  display: var(--disp-dice-picture) !important;
  /** 上下位置の調整 */
  bottom: var(--dice-pic-y) !important;
  /** 左側のスペースの幅 */
  margin-left: var(--dice-pic-left-space) !important;
  /** 右側のスペースの幅 */
  right: var(--dice-pic-right-space) !important;
  /** 画像が表示される範囲 */
  max-width: var(--dice-pic-disp-range) !important;
}

/** 見出し、キャラ名 */
.MuiPaper-rounded .MuiTypography-subtitle2 {
  display: var(--midashi-display);
  /** フォント */
  font-family: var(--midashi-font) !important;
  /** フォント色 */
  color: var(--midashi-color) !important;
  /** フォントの太さ(normal or bold) */
  font-weight: var(--midashi-font-weight) !important;
  /** 文字サイズ */
  font-size: var(--midashi-size) !important;
  /** 上の余白 */
  margin-top: var(--midashi-top-space) !important;
  /** 下の余白 */
  margin-bottom: var(--midashi-bottom-space) !important;
  /** 左の余白 */
  padding-left: var(--midashi-left-space) !important;
  text-shadow: var(--text-shadow);
  position: var(--font-position);
  z-index: var(--font-z-index);
}

.MuiToolbar-gutters {
  padding-left: 0px !important;
}

/** ダイス結果(□＞58) */
.MuiPaper-root .MuiTypography-body2 {
  display: var(--dice-result-display);
  /** フォント */
  font-family: var(--dice-result-font) !important;
  /** フォントの太さ(normal or bold) */
  font-weight: var(--dice-result-font-weight) !important;
  /** 文字サイズ */
  font-size: var(--dice-result-size) !important;
  /** 上の余白 */
  margin-top: var(--dice-result-top-space) !important;
  /** 下の余白 */
  margin-bottom: var(--dice-result-bottom-space) !important;
  /** 左の余白 */
  margin-left: var(--dice-result-left-space) !important;
  text-shadow: var(--text-shadow);
  position: var(--font-position);
  z-index: var(--font-z-index);
}


/** ダイス結果(□＞58) 成功・失敗無し用 */
.css-ucj12 {
  display: var(--dice-result-display);
  /** フォント色 */
  color: var(--dice-result-color) !important;
}

/*Contents*/
.MuiTypography-body1 {
  /** フォント */
  font-family: var(--content-font) !important;
  /** フォント色 */
  color: var(--content-color) !important;
  /** フォントの太さ(normal or bold) */
  font-weight: var(--content-font-weight) !important;
  /** 文字サイズ */
  font-size: var(--content-size) !important;
  text-shadow: var(--text-shadow);
  position: var(--font-position);
  z-index: var(--font-z-index);
}

/*Contents*/
.iKUBvp{
  padding-top: var(--content-top-space) !important;;
  padding-bottom: var(--content-bottom-space) !important;
  padding-left: var(--content-left-space) !important;
  padding-right: var(--content-right-space) !important;
  height: var(--content-height);
}
