@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/MessageWindow/messageWindow_A.css");

:root{
  
  /** 背景色 */
  --dice-win-background: rgba(22, 22, 22, 0.3);

  /** ◆◆◆見出し、キャラ名◆◆◆ */
  /** フォントの太さ(normal or bold) */
  --midashi-font-weight: bold;
  /** 文字サイズ */
  --midashi-size: 20px;
  /** テキスト影 */
  --text-shadow: 0px;

  /** ◆◆◆ダイス結果(□＞58)◆◆◆ */
  /** フォントの太さ(normal or bold) */
  --dice-result-font-weight: bold;
  /** 文字サイズ */
  --dice-result-size: 20px;

  /** ◆◆◆内容◆◆◆ */
  /** フォントの太さ(normal or bold) */
  --content-font-weight: bold;
  /** Font size */
  --content-size: 22px;
}
