@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/MessageWindow/messageWindow_A.css");

:root{
  --dice-win-background: rgba(20, 20, 20, 0.98) !important;
  --disp-dice-picture: none;
  
  /** ◆◆◆見出し、キャラ名◆◆◆ */
  /** フォント */
  --midashi-font: "游ゴシック";
  /** 文字サイズ */
  --midashi-size: 30px;
  /** 上の余白 */
  --midashi-top-space: 60px;
  /** 左の余白 */
  --midashi-left-space: 60px;

 /** ◆◆◆ダイス結果(□＞58)◆◆◆ */
  /** フォント */
  --dice-result-font: "游ゴシック";
  /** 文字サイズ */
  --dice-result-size: 30px;
  /** 上の余白 */
  --dice-result-top-space:60px;
  /** 下の余白 */
  --dice-result-bottom-space: 10px;
  /** 左の余白 */
  --dice-result-left-space: 60px;

  /** ◆◆◆内容◆◆◆ */
  /** フォント */
  --content-font: "游ゴシック";
  /** 文字サイズ */
  --content-size: 23px;
  /** 下の余白 */
  --content-bottom-space: 50px;
  /** 左の余白 */
  --content-left-space: 60px;
  /** 右の余白 */
  --content-right-space: 60px;
  /** テキストボックスの縦幅 */
  --content-height: 800px;

  /** Bottom */
  --window-bottom: 40px;
}
