@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/ChatCSS/chatInfoBase.css");

:root{
  --display-all: none;

  --set-position: unset;
  --set-align-items: center;
  --set-display: flex;
  --set-justify-content: center;
  
  --background-color: rgba(22, 22, 22, 0.99);
  --font-size: 1.3rem;
  --border-radius: 0px;
  
  --all-margin-left: 5px;
  --width: 800px;
  /*縁無し*/
  --title-stroke-width: 0px;
  /*縁の色*/
  --title-stroke-color: rgb(200, 200, 200);
  --title-display: none;

  --font-family: 'Yu Mincho Demibold';
  --contents-font-weight: normal;

  --icon-display: none;
  --textbox-top-margin: 60px;
  --textbox-bottom-margin: 60px;
  --textbox-right-margin: 60px;
  --textbox-left-margin: 60px;

  --item-top: 0;
  --item-bottom: 0;
}

.MuiListItemText-primary {
  display: none;
}

.MuiList-root>div:nth-child(1)>div>div:nth-last-child(-n+1)>div {
  display: flex !important;
}
