@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/Base/base.css");

:root {
/*base.css*/
  --chatWindow-display: block;
  --statusWindow-display: none;
  --messageWindow-display: none;
  --cutIn-display: none;

  --f-s-m-c-display: none !important;
  --foreground-display: none !important;
  --screenPanel-display: none !important!;
  --markerPanel-display: none !important;
  --charaIcon-display: none !important;
  --background-display: none !important;

  --displayAll-height: 100%;
  --displayAll-width: 100%;
  --displayAll-top: 0px;
  --displayAll-left: 0px;
  --displayAll-scale: scale(1, 1);
}

:root{
  /*Window All*/
  --window-background-color: transparent;
  --window-margin: 5px;
  
/*Chat*/
  --background-color: rgba(22, 22, 22, 1);
  --background-padding: 10px 10px 10px 10px;
  --border-color: rgba(250, 250, 250, 0);
  --border-image: url();
  --border-width: 0px;
  --border-radius: 10px;
  --border-shadow: 0;
  --all-margin-left: 20px;
  --chat-border: none;

  --panel-background: transparent;

  --display-all: flex;

    /*Use Here for SetPositions*/
  --set-position: inherit;
  --set-align-items: inherit;
  --set-display: inherit;
  --set-justify-content: inherit;
    
  --icon-display: block;
  --icon-size: 40px;
  --icon-margin-all: inherit;
  --icon-margin-top: 15px;
  --icon-margin-left: 15px;
  --icon-min-width: 56px;
  --icon-opacity: inherit;
  --icon-z-index: inherit;
  --align-img: inherit;
    
  --icon-position: inherit;
  --icon-img-position: inherit;
  --icon-img-top: inherit;

  --font-family: Yu Gothic UI Semibold;
  --title-display: block;
  --title-font-size: 1.2rem;
  --title-stroke-width: 0px;
  --title-stroke-color: rgb(200, 200, 200);
  --font-color: rgb(255, 255, 255);
  --font-text-shadow: inherit;
  --font-color-shadow: 0;
  --font-color-fail: rgb(245, 0, 87);
  --font-color-shadow: rgba(255, 255, 255, 1) 0px 0px 2px;
  --font-color-success: rgb(33, 150, 243);
  --font-color-success-shadow: 0;
  --font-size: 1.2rem;
  --contents-font-weight: inherit;
  --font-shadow: 0;
  --image-radius: 0%;
  --width: 500px;
  --line-clamp: none;/*行数*/
  --line-height: inheirt;

  --textbox-top-margin: inherit;
  --textbox-bottom-margin: inherit;
  --textbox-right-margin: 20px;
  --textbox-left-margin: inherit;
  --text-z-index: inherit;

  --item-top: auto;
  --item-bottom: 0;
}

.MuiDrawer-root>.MuiPaper-root {
  width: 100%;
}

/* ヘッダー */
.MuiDrawer-root>.MuiPaper-root>header {
  display: none;
}

/* Input Window */
form > div {
  display: none !important;
}

hr {
  display: none;
}

.MuiDrawer-paperAnchorDockedRight {
  border: none;
}

.MuiListItem-root {
  padding: var(--background-padding);
  background: var(--background-color);
  border: solid var(--border-width) var(--border-color);
  border-radius: var(--border-radius);
  border-image: var(--border-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: var(--border-shadow);
}

/*Drop Shadow*/
.MuiPaper-root.MuiPaper-elevation{
  box-shadow: none !important;
}

 .MuiListItemAvatar-root {
   position: var(--icon-position) !important;
   opacity: var(--icon-opacity) !important;
   z-index: var(--icon-z-index) !important;
 }

  .MuiListItemAvatar-root img{
    position: var(--icon-img-position) !important;
    top: var(--icon-img-top) !important;
 }

.MuiListItemAvatar-alignItemsFlexStart {
  margin: var(--icon-margin-all);
  margin-top: var(--icon-margin-top);
  margin-left: var(--icon-margin-left);
  min-width: var(--icon-min-width);
  display: var(--icon-display);
}

/* Image Align */
.css-15eea9h {
align-items: var(--align-img);
}

.MuiListItemAvatar-root >div img{
  width: var(--icon-size);
}

.MuiListItemAvatar-root>div {
  background: transparent;
  border-radius: var(--image-radius);
  width: var(--icon-size) !important;
  height: var(--icon-size) !important;
}

.MuiPaper-root {
  background-color: var(--window-background-color);
}

/*Menu Panel Background*/
.MuiPaper-elevation6, .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation6 > form{
background: var(--panel-background);
}

/*SetPositions*/
.MuiList-root>div {
  position: var(--set-position) !important;
}

/*SetPositions*/
.MuiList-root>div>div {
  align-items: var(--set-align-items);
  display: var(--set-display);
  justify-content: var(--set-justify-content);
}

.MuiTypography-body2 {
  font-size: var(--font-size);
  font-weight: var(--contents-font-weight) !important;
}

/*Text Box Set Margin Right*/
.MuiListItemText-root.MuiListItemText-multiline{
  margin-top: var(--textbox-top-margin);
  margin-bottom: var(--textbox-bottom-margin);
  margin-right: var(--textbox-right-margin);
  margin-left: var(--textbox-left-margin);
}

.MuiList-root>div:nth-child(1)>div>div>div {
  display: var(--display-all);
  height: auto !important;
  min-height: auto !important;
  width: var(--width) !important;
  position: static !important;
  flex-shrink: 0;
  margin: var(--window-margin);
  margin-left: var(--all-margin-left);
}

.MuiListItemText-root {
  overflow: hidden !important;
  z-index: var(--text-z-index) !important;
}

p.MuiTypography-root,
.MuiTypography-colorTextSecondary {
  color: var(--font-color);
  font-family: var(--font-family);
}

p.MuiTypography-root,
.MuiTypography-body2{
  color: var(--font-color);
  text-shadow: var(--font-text-shadow);
}

p.MuiTypography-root {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp);
}

.css-1l6qhgm,
.MuiTypography-colorPrimary {
  color: var(--font-color-success);
  text-shadow: var(--font-color-success-shadow);
  font-family: var(--font-family);
}

.css-1j13mke,
.MuiTypography-colorSecondary {
  color: var(--font-color-fail);
  text-shadow: var(--font-color-fail-shadow);
  font-family: var(--font-family);
}

.MuiListItemText-primary {
  display: var(--title-display);
  font-size: var(--title-font-size);
  color: var(--font-color);
  text-shadow: var(--font-color-shadow);
  -webkit-text-stroke-width: var(--title-stroke-width);
  -webkit-text-stroke-color: var(--title-stroke-color);
}

.MuiTypography-caption {
  display: none;
}

p.MuiListItemText-secondary {
  line-height: var(--line-height) !important;
}

/*Chat Border*/
.MuiDivider-root, .MuiDivider-fullWidth{
border-style: var(--chat-border) !important;
}

.MuiList-root>div:nth-child(1) {
  height: 100% !important;
}

.MuiList-root>div:nth-child(1)>div {
  bottom: var(--item-bottom);
  top: var(--item-top) !important;
}
