@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/ChatCSS/chatInfoBase.css");

:root{
　--item-top: auto;
  --item-bottom: 0;
}

.MuiListItem-gutters {
    animation:
        fadeIn  1s ease 0s,
        /* 7sを変えると表示されてる秒数が変わります。最低2s */
        fadeOut 2s ease 15s forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        /* -150pxにすると左から右にフェードイン */
        transform: translateX(-150px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
