@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/Base/base.css");

:root {
/*base.css*/
  --chatWindow-display: block;
  --statusWindow-display: none;
  --messageWindow-display: none;
  --cutIn-display: none;

  --f-s-m-c-display: none !important;
  --foreground-display: none !important;
  --screenPanel-display: none !important!;
  --markerPanel-display: none !important;
  --charaIcon-display: none !important;
  --background-display: none !important;

  --displayAll-height: 100%;
  --displayAll-width: 100%;
  --displayAll-top: 0px;
  --displayAll-left: 0px;
  --displayAll-scale: scale(1, 1);
}

:root{
  /*Window All*/
  --window-background-color: transparent;
  --window-margin: 5px;
  
/*Chat*/
  --background-color: rgba(22, 22, 22, 1);
  --background-padding: 10px 10px 10px 10px;
  --border-color: rgba(250, 250, 250, 0);
  --border-image: url();
  --border-width: 0px;
  --border-radius: 10px;
  --border-shadow: 0;
  --all-margin-left: 20px;

  --display-all: flex;
    
  --icon-display: block;
  --icon-size: 40px;
  --icon-margin-top: 15px;
  --icon-margin-left: 15px;
  --icon-min-width: 56px;

  --font-family: Yu Gothic UI Semibold;
  --title-font-size: 1.2rem;
  --font-color: rgb(255, 255, 255);
  --font-color-shadow: 0;
  --font-color-fail: rgb(245, 0, 87);
  --font-color-fail-shadow: 0;
  --font-color-success: rgb(33, 150, 243);
  --font-color-success-shadow: 0;
  --font-size: 1.2rem;
  --font-shadow: 0;
  --image-radius: 0%;
  --width: 500px;
  --line-clamp: none;/*行数*/
  --textbox-right-margin: 20px;

  --item-top: auto;
  --item-bottom: 0;
}

.MuiDrawer-root>.MuiPaper-root {
  width: 100%;
}

/* ヘッダー */
.MuiDrawer-root>.MuiPaper-root>header {
  display: none;
}

/* Input Window */
form > div {
  display: none !important;
}

hr {
  display: none;
}

.MuiDrawer-paperAnchorDockedRight {
  border: none;
}

.MuiListItem-root {
  padding: var(--background-padding);
  background: var(--background-color);
  border: solid var(--border-width) var(--border-color);
  border-radius: var(--border-radius);
  border-image: var(--border-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: var(--border-shadow);
}

/*Drop Shadow*/
.MuiPaper-root.MuiPaper-elevation{
  box-shadow: none !important;
}

.MuiListItemAvatar-alignItemsFlexStart {
  margin: 0px;
  margin-top: var(--icon-margin-top);
  margin-left: var(--icon-margin-left);
  min-width: var(--icon-min-width);
  display: var(--icon-display);
}

.MuiListItemAvatar-root >div img{
  width: var(--icon-size);
}

.MuiListItemAvatar-root>div {
  background: transparent;
  border-radius: var(--image-radius);
}

.MuiPaper-root {
  background-color: var(--window-background-color);
}

.MuiTypography-body2 {
  font-size: var(--font-size)
}

/*Text Box Set Margin Right*/
.MuiListItemText-root.MuiListItemText-multiline{
  margin-right: var(--textbox-right-margin);
}

.MuiList-root>div:nth-child(1)>div>div>div {
  display: var(--display-all);
  height: auto !important;
  min-height: auto !important;
  width: var(--width) !important;
  position: static !important;
  flex-shrink: 0;
  margin: var(--window-margin);
  margin-left: var(--all-margin-left);
}

.MuiListItemText-root {
  overflow: hidden;
}

p.MuiTypography-root,
.MuiTypography-colorTextSecondary {
  color: var(--font-color);
  text-shadow: var(--font-color-shadow);
  font-family: var(--font-family);
}

p.MuiTypography-root,
.MuiTypography-body2{
  color: var(--font-color);
}

p.MuiTypography-root {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp);
}

.css-1l6qhgm,
.MuiTypography-colorPrimary {
  color: var(--font-color-success);
  text-shadow: var(--font-color-success-shadow);
  font-family: var(--font-family);
}

.css-1j13mke,
.MuiTypography-colorSecondary {
  color: var(--font-color-fail);
  text-shadow: var(--font-color-fail-shadow);
  font-family: var(--font-family);
}

.MuiListItemText-primary {
  display: block;
  font-size: var(--title-font-size);
  color: var(--font-color);
  text-shadow: var(--font-color-shadow);
}

.MuiTypography-caption {
  display: none;
}

.MuiList-root>div:nth-child(1) {
  height: 100% !important;
}

.MuiList-root>div:nth-child(1)>div {
  bottom: var(--item-bottom);
  top: var(--item-top) !important;
}
