@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/ChatCSS/chatInfoBase.css");

:root{
  /*Window All*/
  --window-background-color: rgba(25, 25, 25, 0.98);
  --window-margin: 0px;
  
  --background-color: rgba(25, 25, 25, 0);
  --border-radius: 0px;
  --border-width: 2px;
  --width: 600px;
  --line-clamp: none;/*行数*/

  --display-all: flex;

  --item-top: 0%;
  --item-bottom: 0%;
}

hr {
  display: block;
  border-color: rgba(255, 255, 255, 0.1) !important;
  border-width: 0px 0px thin !important;
}
