:root{
  --icon-size: 70px;
}

$userId: 788402063881142312;


"body, #root {
overflow: hidden !important;
}

[class*="Voice_voiceStates__"] {
display: flex;
align-items: flex-end;
padding: 16px;
}

[class*="Voice_voiceState__"] {
height: auto;
margin-bottom: 0px;
}

[class*="Voice_avatar__"] {
filter: brightness(70%);
}

[class*="Voice_avatarSpeaking__"] {
position: relative;
filter: brightness(100%);
animation: 750ms infinite alternate ease-in-out speak-light;
animation-duration: 750ms;
}

[class*="Voice_name__"] {
max-width: 100px;
box-sizing: border-box;
text-overflow: clip;
white-space: nowrap;
overflow: hidden;
display: none;
text-align: center;
top: -8px;
position: relative;
}
img {
display: none;
}

img[src*="avatars/788402063881142312"] {
display: block;
width: var(--icon-size);
height: var(--icon-size);
max-width: var(--icon-size);
border-radius: 50;
}

img:not([src*="avatars/788402063881142312"]), img:not([src*="avatars/788402063881142312"]) + [class*="Voice_user__"] {
display: none;
}

@keyframes speak-light {
0% {
filter: drop-shadow(0 0 2px rgb(0, 255, 0));
}
50% {
filter: drop-shadow(0 0 8px rgb(0, 255, 0));
}
100% {
filter: drop-shadow(0 0 2px rgb(0, 255, 0));
}
}

@keyframes speak-light {
  0% {
    filter: drop-shadow(0 0 2px rgb(0, 255, 0)) brightness(100%) drop-shadow(2px 2px 0px rgb(0, 255, 0)) drop-shadow(-2px -2px 0px rgb(0, 255, 0)) drop-shadow(-2px 2px 0px rgb(0, 255, 0)) drop-shadow(2px -2px 0px rgb(0, 255, 0));
  }
  50% {
    filter: drop-shadow(0 0 8px rgb(0, 255, 0)) brightness(100%) drop-shadow(2px 2px 0px rgb(0, 255, 0)) drop-shadow(-2px -2px 0px rgb(0, 255, 0)) drop-shadow(-2px 2px 0px rgb(0, 255, 0)) drop-shadow(2px -2px 0px rgb(0, 255, 0));
  }
  100% {
    filter: drop-shadow(0 0 2px rgb(0, 255, 0)) brightness(100%) drop-shadow(2px 2px 0px rgb(0, 255, 0)) drop-shadow(-2px -2px 0px rgb(0, 255, 0)) drop-shadow(-2px 2px 0px rgb(0, 255, 0)) drop-shadow(2px -2px 0px rgb(0, 255, 0));
  }
}
