@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/Status/statusInfoBase.css");

:root{
  --icon-size: 60px;

  --initiative-transform: translate(-32px, 37px);
  --initiative-radius: 28px;
  --initiative-border-radius: 23px;
  --initiative-font-size: 17px;

  --5thStatus-display: none;
  --6thStatus-display: none;
  --7thStatus-display: none;
  --8thStatus-display: none;

  /** Colum Amount */
  --columAmount: 1;

  --width-status: 100px;
  --space-between-status: 20px;
  --space-between-bottom: 20px;

  --all-top: 2px;
  --all-left: 30px;
}
