@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/Status/statusInfoBase.css");

/*Set Roots*/
:root {
  /*****Icons*****/
  /** Icon's Size */
  --icon-size: 100px;
  /** Align Icons and Status: flex=> VerVer / inline-flex=> HorVer / inline-block=>HorHor */
  --placement-icon-status: inline-table;

  --disp-icon: inline-block;

  /*****Initiative*****/
  --initiative-transform: translate(-77px, 67px);
  --initiative-radius: 30px;
  --initiative-border-radius: 20px;
  --initiative-font-size: 18px;

  /** Margin Between Status(Horizontal) */
  --space-between-status: -60px;
  --space-between-status2: 40px;

  /** ステータス文字の周りの余白(上,下,左,右) */
  --status-padding-top: 5px;
  --status-padding-bottom: 5px;
  --status-padding-left: 5px;
  --status-padding-right: 5px;
  --item-font-size: 17px;
  --status-font-size: 17px;

  /** ステータスの横幅 */
  --width-status: 100px;
  --status-transform: translate(0px, -10px);

  /**** Everything ****/
  --all-position: relative;
  --all-top: inherit;
  --all-left: 25px;

  --parent-display: block;
}
