@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/Status/statusInfoBase.css");

:root{
  --icon-size: 60px;

  --initiative-transform: translate(12px, 42px);
  --initiative-radius: 28px;
  --initiative-border-radius: 23px;
  --initiative-font-size: 17px;

  --5thStatus-display: none;
  --6thStatus-display: none;
  --7thStatus-display: none;
  --8thStatus-display: none;

  /** Colum Amount */
  --columAmount: 1;

  --width-status: 100px;
  --space-between-status: 20px;
  --space-between-bottom: 20px;

  --status-padding-top: 5px;
  --status-padding-bottom: 5px;
  --status-padding-left: 5px;
  --status-padding-right: 5px;
  --item-font-size: 17px;
  --status-font-size: 17px;

  --all-left: -15px;
  --parent-display: flex;
  --parent-flex-direction: column;
  --parent-aling-items: flex-end!important;
  --parent-padding-right: 30px;

  --parent-c-flex-direction: row-reverse;
}
