@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/Status/statusInfoBase.css");

:root{
  /*****Icons*****/
  /** Icon's Size */
  --icon-size: 180px;
  /** Align Icons and Status: flex=> VerVer / inline-flex=> HorVer / inline-block=>HorHor */
  --placement-icon-status: inline-table;

  --disp-icon: inline-block !important;

  /*****Initiative*****/
  --initiative-transform: translate(-160px, 93px);
  --initiative-radius: 35px;
  --initiative-border-radius: 23px;
  --initiative-font-size: 22px;
  
  /**************************
   ステータス（全体）
 **************************/
  /**Status Transform*/
  --status-transform: translate(0px, -55px);
  /** ステータスの横幅 */
  --width-status: 100px;
  /** ステータスの行間 */
  --height-status: 25px;
  
  /** Margin Between Status(Horizontal) */
  --space-between-status: 40px;
   /** Margin Between Status(Bottom) */
  --space-between-bottom: 20px;

  /** Colum Amount */
  --columAmount: 2;

  --status-padding-top: 5px;
  --status-padding-bottom: 5px;
  --status-padding-left: 5px;
  --status-padding-right: 5px;
  --item-font-size: 17px;
  --status-font-size: 17px;
}
