@import url("https://mayayaya27.github.io/CcofoliaCostumCSSforOBS/Status/statusInfoBase.css");

:root {
/*base.css*/
  --chatWindow-display: none;
  --statusWindow-display: block;
  --messageWindow-display: none;
  --cutIn-display: none;

  --f-s-m-c-display: none !important;
  --foreground-display: none !important;
  --screenPanel-display: none !important!;
  --markerPanel-display: none !important;
  --charaIcon-display: none !important;
  --background-display: none !important;

  --displayAll-height: 100%;
  --displayAll-width: 100%;
  --displayAll-top: 0px;
  --displayAll-left: 0px;
  --displayAll-scale: scale(1, 1);
}

/*Set Roots*/
:root {
  /*****Icons*****/
  /** Icon's Size */
  --icon-size: 120px;
  /** Align Icons and Status: flex=> VerVer / inline-flex=> HorVer / inline-block=>HorHor */
  --placement-icon-status: inline-block;

  /*****Initiative*****/
  --initiative-transform: translate(-87px, 87px);
  --initiative-radius: 33px;
  --initiative-border-radius: 23px;
  --initiative-font-size: 22px;
  
  /**************************
   ステータス（全体）
 **************************/
  /**Status Transform*/
  --status-transform: translate(40px, -15px);
  /** ステータスの横幅 */
  --width-status: 130px;
  /** ステータスの行間 */
  --height-status: 25px;
  /** Margin Between Status(Horizontal) */
  --space-between-status: 10px;
 
   /** Margin Between Status(Bottom) */
  --space-between-bottom: 30px;
  /**************************
    ステータス（個別）
  **************************/
  /** ステータス1～6行目の位置調整 */
  --left-space-status1: 0px;
  --left-space-status2: 0px;
  --left-space-status3: 0px;
  --left-space-status4: 0px;
  --left-space-status5: 0px;
  --left-space-status6: 0px;

  --1stStatus-display: block;
  --2ndStatus-display: block;
  --3rdStatus-display: block;
  --4thStatus-display: block;
  --5thStatus-display: block;
  --6thStatus-display: block;

  /** Colum Amount */
  --columAmount: 1;
}
