@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/Status/statusInfoBase.css");

:root{
  /** Icon's Size */
  --icon-size: 115px;
  /** Display Icon: flex=>VerNor inline-flex=>HorNor,none */
  --disp-icon: inline-block;
  
  /** Align Icons and Status: flex=> VerVer / inline-flex=> HorVer / inline-block=>HorHor */
  --placement-icon-status: inline-flex;
  
  --initiative-transform: translate(-70px, 85px);

  /** Margin Between Status(Horizontal) */
  --space-between-status: -30px;
  --block-parent-text-align: left;

  /**** Everything ****/
  --all-position: relative;
  --all-top: 10px;
  --all-left: 30px;

  --parent-display: block;
  --all-left: 30px;
}
