@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/Status/statusInfoBase.css");

:root{
  /*****Icons*****/
  --icon-position: relative;
  /** Icon's Size */
  --icon-size: 120px;
  /** Align Icons and Status: flex=> VerVer / inline-flex=> HorVer / inline-block=>HorHor */
  --placement-icon-status: inline-table;

  --disp-icon: inline-block !important;

  /*****Initiative*****/
  --initiative-transform: translate(-130px, 81px);
  --initiative-radius: 25px;
  --initiative-border-radius: 18px;
  --initiative-font-size: 14px;
  
  /**************************
   ステータス（全体）
 **************************/
  /**Status Transform*/
  --status-transform: translate(0px, -19px);
  /** ステータスの横幅 */
  --width-status: 80px;
  /** ステータスの行間 */
  --height-status: 20px;
  
  /** Margin Between Status(Horizontal) */
  --space-between-status: 5px;
  --space-between-status2: 50px;
  
  /** Margin Between Status(Bottom) */
  --space-between-bottom: 20px;

  --height-total: 20px;
  --height-remain: 20px;
  
  /** Colum Amount */
  --columAmount: 2;

  --status-padding-top: 4px;
  --status-padding-bottom: 4px;
  --status-padding-left: 5px;
  --status-padding-right: 5px;
  --item-font-size: 14px;
  --status-font-size: 14px;

  /**** Everything ****/
  --all-position: relative;
  --all-top: 10px;
  --all-left: 30px;
  --all-text-align: right;

  --displayAll-height: 200%;
  --displayAll-width: 110%;
  --displayAll-top: -40px;
  --displayAll-left: -100px;
  --displayAll-scale: scale(0.9);
}
