@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/Status/statusInfoBase.css");

/*Set Roots*/
:root {
  /*****Icons*****/
  /** Icon's Size */
  --icon-size: 180px;
  /** Align Icons and Status: flex=> VerVer / inline-flex=> HorVer / inline-block=>HorHor */
  --placement-icon-status: inline-block;

  /*****Initiative*****/
  --initiative-transform: translate(-142px, 155px);
  --initiative-radius: 33px;
  --initiative-border-radius: 23px;
  --initiative-font-size: 22px;
  
  /**************************
   ステータス（全体）
 **************************/
  /**Status Transform*/
  --status-transform: translate(40px, -10px);
  /** ステータスの横幅 */
  --width-status: 130px;
  /** ステータスの行間 */
  --height-status: 25px;
  
  /** Margin Between Status(Horizontal) */
  --space-between-status: 60px;
   /** Margin Between Status(Bottom) */
  --space-between-bottom: 30px;
  
  /**************************
    ステータス（個別）
  **************************/
  --3rdStatus-display: none;
  --4thStatus-display: none;
  --5thStatus-display: none;
  --6thStatus-display: none;
  --7thStatus-display: none;
  --8thStatus-display: none;

  /** Colum Amount */
  --columAmount: 1;

  /**** Everything ****/
  --all-top: 0px;
  --all-left: 35px;
}
