@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/Status/statusInfoBase.css");

:root{
  /** Icon's Size */
  --icon-size: 115px;
  /** Display Icon: flex=>VerNor inline-flex=>HorNor,none */
  --disp-icon: inline-flex;
  
  /** Align Icons and Status: flex=> VerVer / inline-flex=> HorVer / inline-block=>HorHor */
  --placement-icon-status: inline-flex;
  
  --initiative-transform: translate(-70px, 85px);

  /** Margin Between Status(Horizontal) */
  --space-between-status: 0px;
  --space-between-status2: 60px;

  /**** Everything ****/
  --all-position: relative;
  --all-top: inherit;
  --all-left: inherit;

  --parent-display: block;
}
