@import url("https://mayayaya27.github.io/CcofoliaCustomCSSforOBS/Base/base.css");

:root{
  /*表示する項目には「block」、非表示にする項目には「none」と記述ください！*/
  
  /*↓↓チャットウィンドウ表示・非表示↓↓*/
  --chatWindow-display: none;
  /*↓↓ステータスウィンドウ表示・非表示↓↓*/
  --statusWindow-display: none;
  /*↓↓メッセージウィンドウ表示・非表示↓↓*/
  --messageWindow-display: none;
  /*↓↓カットイン表示・非表示↓↓*/
  --cutIn-display: none;

  /*↓↓タイマー表示・非表示↓↓*/
  --timer-display: none;
  /*↓↓ダイナミックダイス表示・非表示↓↓*/
  --dynamic-dice-display: none;

  /*↓↓カード表示・非表示↓↓*/
  --card-display: block;
 /*↓↓カードの名前表示・非表示↓↓*/
  --card-name-display: none;
  
  /*↓↓前景・スクリーンパネル・マーカーパネル・キャラ駒一括表示・非表示↓↓*/
  --f-s-m-c-display: none !important;
  /*↓↓前景表示・非表示↓↓*/
  --foreground-display: none !important;
  /*↓↓前景グリッド表示・非表示↓↓*/
  --foreground-grid-display: block;
  /*↓↓スクリーンパネル表示・非表示↓↓*/
  --screenPanel-display: none !important;
  /*↓↓マーカーパネル表示・非表示↓↓*/
  --markerPanel-display: none !important;
  /*↓↓キャラ駒表示・非表示↓↓*/
  --charaIcon-display: none !important;
  
  /*↓↓背景表示・非表示↓↓*/
  --background-display: block !important;

　/*↓↓表示範囲用↓↓*/
  --displayAll-height: 300%;
  --displayAll-width: 300%;
  --displayAll-top: -100%;
  --displayAll-left: -100%;
  　/*↓↓拡大縮小用（scale(1)で1倍のサイズになる）↓↓*/
  --displayAll-scale: scale(1);
}
