:root{
  --cutIn-display: block;
  --foreground-display: block;
  --background-display: block;
}

body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }

[role="presentation"] {display: none;}/*CM*/

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiAppBar-root {display: none;}/*TopMenu*/
.MuiSnackbar-root {display: none;}/*SE・監視モードポップアップ*/
.MuiDrawer-paper {display: none;}
div[tabindex="0"]>div+div:nth-child(3) {display: none}/*MusicSlider*/
div[tabindex="0"]>div:nth-child(5)  {display: none;}/*ZoomInZoomOutButton*/
.MuiButtonBase-root.MuiFab-root {display: none;}/*PencilMark*/

.MuiDialog-paper {display: none;}/*ChatWindow*/
.MuiBackdrop-root {display: none;}/*BlackLayer*/

.kTIUpi {display: none;}/*StatusWindow*/

/*CutIn*/
div[open] {
  display: var(--cutIn-display) !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation6 {display: none;}/*MessageWindow*/
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation6>img {display: none;}/*MessageWindowImage*/
.MuiButtonBase-root.MuiIconButton-root  {display: none;}/*MessageWindowButtons*/
::-webkit-scrollbar {display: none !important;}/*MessageWindowScrollBar*/

div[tabindex="0"]>div:nth-child(1) {display: none;}/*前景・スクリーンパネル・マーカーパネル・キャラ駒全て*/

/*only foreground*/
div[tabindex="0"]>div>div>div>div>div>div:nth-child(1){
  display: var(foreground-display) !important;
}
.sc-dkuFWL {display: none;}/*スクリーンパネル*/
.sc-iXeHOc {display: none;}/*マーカーパネル*/
.sc-bUQxUO {display: none;}/*キャラ駒*/
.sc-jLqQTn {display: none;}/*キャラ駒Name*/

/*BackGround*/
.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorDefault.MuiPaper-elevation0+div {
  display: var(--background-display) !important;
}

/*全体の配置*/
div[tabindex="0"] {
/*％を入力して、描画する範囲の指定。見切れている駒は描画されません*/
  height: 100% !important;/*画面全体描画する縦幅*/
  width: 100% !important;/*画面全体描画する横幅*/

  position: absolute;/*ここは触らない*/
  top: 0px;/*縦に何ピクセルずらすか指定。マイナスも入力できます*/
  left: 0px;/*横に何ピクセルずらすか指定。マイナスも入力できます*/
}
